.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

#idea ignore configration
/.idea
*.iml

#eclipse ignore configration
.classpath
.project

# files for the dex VM
*.dex

# Java class files
*.class